body { background: #eaeaea; }

#header h1 { margin: 0 0 0 20px; padding: 3px 0 0; font-weight: normal; float: left; color: #fff; font-size: 2em; }
#header #profile
{
    float: right;
    padding: 5px 0 0;
    margin: 0 20px 0 0;
}
#header
{
    color: #fff;
    background: url(../images/header_background.gif) repeat-x;
    height: 35px;
}
#header a, #header a:link, #header a:visited { color: #fff }
#header a:hover, #header a:active { background: #050; }
#header a#dashboard { float: left; margin: 5px 0 0 40px; }
#footer { margin: 20px 0 0; font-size: 90%; color: #444; padding: 4px 20px; background: #ccc; }

#content { margin: 10px 20px; }

#notice { margin: 8px 20px; padding: 8px 8px; }
.clearall { clear: both; }
.empty-slate { font-style: oblique; }

.fieldWithErrors input { border: 1px solid #FBC2C4; }

label { display: block; }

div.game h3 { margin-bottom: 0; }
div.featured-actions { margin-bottom: 1em; }

a.custom-button
{
    background:url(../images/button-back.png);
    display:block;
    color:#555555;
    font-weight:bold;
    height:35px;
    line-height:35px;
    margin-bottom:14px;
    text-decoration:none;
    width:202px;
    float: left;
}
a:hover.custom-button
{
    color:#0011ee;
}
a.custom-button span
{
    margin: 0 0 0 34px;
}

h2 { border-bottom: solid 3px #aaa; }
h3 { border-bottom: solid 2px #aaa; }

#games .game h3 { border-bottom: none; }
#games .game { border-bottom: solid 1px #aaa; margin-bottom: 1em; padding-bottom: 0.5em;}


#left-side { width: 50%; }

textarea.short { height: 125px; }