body { background: #eaeaea; }

#header h1 { margin: 0 0 0 20px; padding: 3px 0 0; font-weight: normal; float: left; color: #fff; font-size: 2em; }
#header #profile
{
    float: right;
    padding: 5px 0 0;
    margin: 0 20px 0 0;
}
#header
{
    color: #fff;
    background: url(../images/header_background.gif) repeat-x;
    height: 35px;
}
#header a, #header a:link, #header a:visited { color: #fff }
#header a:hover, #header a:active { background: #050; }
#footer { margin: 20px 20px 0; font-size: 90%; color: #444; }

#content { margin: 10px 20px; }

#notice { margin: 8px 20px; padding: 8px 8px; }
.clearall { clear: both; }
.empty-slate { font-style: oblique; }

.fieldWithErrors input { border: 1px solid #FBC2C4; }

label { display: block; }