* { margin: 0; padding: 0; }
body { font-family: Helvetica, Arial; font-size: 11px; }
div#content { width: 1000px; margin: 10px auto; }

/* map */

div#map
{
    position: relative;
    width: 800px;
    height: 1000px;
    background: #bbb;
    margin-bottom: 20px;
}