<div id="chat">
   <h2>Game Log &amp; Chat</h2>
  <ul id="game-log-entries">
    <li><em><strong>ellentesque</strong> euismod interdum massa et tincidunt. Quisque dolor</em></li>
    <li><strong>dolor</strong>, sollicitudin sed tempus a, viverra at erat</li>
    <li><strong>Proin</strong> ipsum augue, pellentesque et adipiscing at, luctus</li>
    <li><strong>nec</strong> urna. Curabitur sem dolor, iaculis sit amet</li>
    <li><em><strong>pellentesque</strong> eget, ultricies nec massa. Proin enim dui</em></li>
    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><em><strong>Proin</strong> ipsum augue, pellentesque et adipiscing at, luctus</em></li>
    <li><em><strong>nec</strong> urna. Curabitur sem dolor, iaculis sit amet</em></li>
    <li><em><strong>pellentesque</strong> eget, ultricies nec massa. Proin enim dui</em></li>
    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><em><strong>tincidunt</strong> vestibulum nulla, in placerat ante feugiat in</em></li>
    <li><strong>Donec</strong> vitae massa in odio rutrum te<li>    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><em><strong>tincidunt</strong> vestibulum nulla, in placerat ante feugiat in</em></li>
    <li><strong>Donec</strong> vitae massa in odio rutrum te<li>
  </ul>
  <input type="text" value="Type message here." />
  <input type="button" value="save" />
</div>
