<div id="log">
  <h2>Game Log</h2>
  <ul id="game-log-entries">
    <li><strong>ellentesque</strong> euismod interdum massa et tincidunt. Quisque dolor</li>
    <li><strong>dolor</strong>, sollicitudin sed tempus a, viverra at erat</li>
    <li><strong>Proin</strong> ipsum augue, pellentesque et adipiscing at, luctus</li>
    <li><strong>nec</strong> urna. Curabitur sem dolor, iaculis sit amet</li>
    <li><strong>pellentesque</strong> eget, ultricies nec massa. Proin enim dui</li>
    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><strong>Proin</strong> ipsum augue, pellentesque et adipiscing at, luctus</li>
    <li><strong>nec</strong> urna. Curabitur sem dolor, iaculis sit amet</li>
    <li><strong>pellentesque</strong> eget, ultricies nec massa. Proin enim dui</li>
    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><strong>tincidunt</strong> vestibulum nulla, in placerat ante feugiat in</li>
    <li><strong>Donec</strong> vitae massa in odio rutrum te<li>    <li><strong>tristique</strong> et ultrices eget, imperdiet eu massa. Vestibulum</li>
    <li><strong>tristique</strong>, turpis non luctus hendrerit, dolor nisi blandit</li>
    <li><strong>ante</strong>, sed pretium velit lacus vel enim. Nullam</li>
    <li><strong>tincidunt</strong> vestibulum nulla, in placerat ante feugiat in</li>
    <li><strong>Donec</strong> vitae massa in odio rutrum te<li>
  </ul>
</div>
