<div id="left-side">
<div class="featured-actions">
  <%= link_to 'More games', games_url %>
  <%= link_to 'Create a new game', new_game_url %>
</div>
<div class="clearall"></div>
<h3>Your games</h3>
<div id="games">
<%= render :partial => 'games/game', :collection => @games %>
</div>
<% if @games.empty? %>
<div id="games-alternate" class="empty-slate">
You currently are not enrolled in any games, consider <%= link_to 'joining one', games_url %>
</div>
<% end %>
</div>
