<div id="header">
  <h1>dieselisation</h1>
  <div id="profile">you are logged in | something | else</div>
</div>
<% if flash[:notice] %>
<div class="notice">
<%= h flash[:notice] %>
</div>
<% end %>
<div class="clearall"></div>
