<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">dieselisation</a>

      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">Games</a></li>
      </ul>

      <% if signed_in? %>
        <div id="profile">you are logged in as <%= link_to current_user.display_name, "#" %> | <%= link_to 'logout', session_url, :method => 'delete' %></div>
     <% end %>
    </div>
  </div>

</div>
